{% extends "base.html" %}
    {% block content %}
            <div class="splash">
                <div class="pure-g-r">
                    <div class="pure-u-1">
                        <div class="l-box splash-text">
                            <h1 class="splash-head">
                                {{ course }}
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pure-g">
                <div class="pure-g-r content-ribbon">
                    <div class="pure-u-2-3">
                        <div class="l-box">
                            <h4 class="content-subhead">{{ course.name }}</h4>
                            <h3>Data de início: {{ course.start_date }}</h3>
                            <p>{{ course.description|linebreaks }}</p>
                        </div>
                    </div>
                    <div class="pure-u-1-3">
                        <div class="l-box">
                            <a href="">
                                {% if course.image %}
                                <img src="{{ course.image.url }}" alt="{{course.name}}">
                                {% else %}
                                <img src="http://placehold.it/400x250" alt="{{course.name}}">
                                {% endif %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>

      {% endblock %}